@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/gilroy-bold.ttf");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: "GilroyThin";
  src: url("../fonts/gilroy-thin.ttf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/gilroy-medium.ttf");
}

._container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

body._lock {
  overflow: hidden;
}

.navdecor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 100;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header__decor {
  z-index: 0;
}

.header__wrap {
  background-color: white;
}

.header__navigation {
  position: relative;
  border-bottom: 1px solid #828282;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: auto;
}

.header__navigation::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #E5E5E5;
  z-index: 21;
}

.header__navigation._active {
  left: 0;
  pointer-events: all;
}

.header__navigation._active .header {
  height: 100%;
}

.header__burger {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: relative;
  width: 30px;
  height: 20px;
  float: right;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  margin-right: 30px;
  z-index: 20;
  margin: 44px 10px;
  cursor: pointer;
}

.header__burger::after,
.header__burger:before,
.header__burger span {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #070707;
}

.header__burger:after,
.header__burger:before {
  content: "";
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header__burger._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header__burger._active:before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header__burger._active:after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88px;
  width: 100%;
}

.navigation__link {
  font-family: "GilroyBold";
  font-size: 18px;
  color: #828282;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}

.navigation__link._active,
.navigation__link:hover {
  color: #070707;
}

.profile-block__wrap {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-block__name {
  font-family: "GilroyBold";
  font-size: 48px;
}

.profile-block__description {
  font-family: "GilroyMedium";
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 5px;
  width: 30%;
  text-align: center;
}

.profile-block__switcher {
  font-family: "GilroyBold";
  color: #828282;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.profile-block__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 400px;
  margin: 10% 0;
}

.profile-block__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.switcher__decor {
  width: 100%;
  height: 2px;
  background: black;
}

.switcher__item {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}

.switcher__item._active {
  color: black;
}

.about-block__wrap {
  height: 100%;
  padding: 60px 0;
  background-color: #E5E5E5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-block__text-blok {
  width: 480px;
  padding: 0 20px;
}

.about-block__title {
  font-size: 34px;
  font-family: "GilroyBold";
  margin-bottom: 30px;
}

.about-block__subtitle {
  font-size: 18px;
  font-family: "GilroyMedium";
}

.about-block__subtitle span {
  margin: 20px 0;
}

.skill-block {
  text-align: center;
  word-wrap: break-word;
}

.skill-block__title {
  font-family: "GilroyBold";
  font-size: 34px;
  margin: 60px 35px;
  padding: 10px;
}

.skill-block__subtitle {
  font-family: "GilroyMedium";
  font-size: 18px;
  margin: 50px 0;
}

.skill-block__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.skill__img {
  margin: 0 auto;
}

.skill__label {
  font-family: "GilroyBold";
  font-size: 14px;
  color: #828282;
  margin: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 70%;
}

.portfolio {
  background-color: #E5E5E5;
  padding: 40px 0;
  margin-top: 70px;
}

.portfolio__title {
  font-family: "GilroyBold";
  font-size: 34px;
  text-align: center;
  margin: 40px 0;
  padding: 20px;
}

.item__img {
  overflow: hidden;
  cursor: pointer;
}

.item__img img {
  max-width: 100%;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
  position: relative;
}

.item__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item__link {
  font-family: "GilroyMedium";
  font-size: 18px;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin: 40px 0;
  margin-bottom: 60px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 20;
  cursor: pointer;
  color: black;
}

.item__link:visited {
  color: black;
}

.item__link:hover {
  color: #5d5d5d;
}

.contact__wrap {
  text-align: center;
  padding: 50px 0;
}

.contact__title {
  font-family: "GilroyBold";
  font-size: 34px;
  margin: 40px 20px;
  padding: 20px;
}

.contact__subtitle {
  font-family: "GilroyMedium";
  font-size: 18px;
  margin-bottom: 40px;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 50px;
  background: black;
  padding: 10px;
  border-radius: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}

.contact__button span {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  font-family: "GilroyBold";
  font-size: 18px;
  color: white;
}

.contact__button:hover {
  background: #828282;
}

.contact__button:hover span {
  color: black;
}

.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.icons__item {
  margin: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.icons__description {
  font-family: "GilroyMedium";
  font-size: 14px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  font-family: "GilroyMedium";
  color: #828282;
  margin-top: 20px;
}

@media (min-width: 901px) {
  .skill__item {
    max-width: 25%;
  }
}

@media (max-width: 901px) {
  .skill__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 40px;
  }
}

@media (max-width: 621px) {
  .header__navigation {
    pointer-events: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: auto;
    padding: 65px 0;
  }

  .header__burger {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .header__burger_wrap {
    width: 100%;
    background: #fff;
    height: 100px;
  }

  .header__burger_wrap::after {
    height: 50px;
    width: 100%;
    background-color: white;
    opacity: 0.5;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .navigation__link {
    font-size: 34px;
    margin-bottom: 7%;
    margin-left: 25px;
  }

  .profile-block__wrap {
    margin-top: 100px;
  }

  .profile-block__switcher {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 32px;
    margin: 20px 20px;
  }

  .switcher__item {
    margin: 20px 0;
  }
}

@media (max-width: 566px) {
  .profile-block__description {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
}

@media (max-width: 521px) {
  .skill__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 431px) {
  .profile-block__name {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}